.story-segment {
	margin-top: 3em !important;
}

.story-segment-header {
	background-color: lavender !important;
}

.completion-bar {
	transition-duration: 300ms !important;
}

.task-todo {
	background-color: lightgoldenrodyellow !important;
}

.task-complete {
	background-color: palegreen !important;
}